{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div>
    <h3 class="title"> Login</h3>
    <form method="POST" action="/login">
        <div>
        <label for="email"><b>Email</b></label>
        </div>
        <div>
        <input type="email" name="email">
        </div>
        <div>
        <label for="password"><b>Password</b></label>
        </div>
        <div>
        <input type="password" name="password">
        </div>
        <div>
        <button type="submit">Login</button>
        </div>
    </form>
<div>
{% endblock %}